<!DOCTYPE html>
    <html>
      <head>
        <title>Home</title>
        <link rel="stylesheet" href="../resources/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../resources/css/lost_found.css">
      </head>
      <body>
        <!--This is the section for the navbar. Make sure to include on all html pages.
        <style>
          .navbar.navbar-expand-lg.navbar-dark.bg-black
          {
            background-color: black;
            color: white;
            height: 65px;
          }

        </style>
        -->

        <nav class="navbar navbar-expand-lg navbar-dark bg-black">
          <a class="navbar-brand" href="https://www.colorado.edu/" target="_blank">
            <img class="rounded-circle" src="../resources/images/favicon.ico" alt="" width="30" height="30">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="home">Lost & Found</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="about">About Us</a>
              </li>
            </ul>
          <div class="form-inline my-2 my-lg-0" style="margin-right:8px;">
            <a href="account">
              <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Account</button>
            </a>
          </div>
          <div class="form-inline my-2 my-lg-0">
            <a href="/">
              <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Logout</button>
            </a>
          </div>
          </div>
        </nav>
        <!--End Navbar section-->


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Header of page 
        <style>
          .top-description 
          {
          padding: 50px;
          text-align: center;
          background-color: #a58d4f;
          color: whitesmoke;
          }

        </style>
        -->
        <!-- <div class = "top-description">
          <h1> About Us </h1>
          <p> **Basic description of how we are sutdents making a web app, lost and found functionality etc** </p>
        </div>
        <br> -->
        <div class="body_content">
            <div class="jumbotron" style="height:380px;">
                <h1 class="display-4"><center>About Us</h1></center>
                  <p class="lead" style="text-align:center">The CU Boulder Lost & Found web application was 
                  designed for students, by students. Student Developers, Alex Sorenson, Andrew Settergren, Ian Wong, Kelsey Valencia,
                   and Nikkii Fox are all currently Computer Science majors here at CU! We have partnered with CU's Office of 
                   Information Technology to create a new secure resource for students who have lost or found items on campus.</p>
            </div>
        </div>
        <!-- End Header -->
      
        <h1 class="display-4" style="text-align:center">How It Works</h1>

        <br>
      <div class="container" style="background-color:#e9ecef">
        <br>
          <div class="card-deck">
            <div class="card" style="width: 18rem; padding: 16px;" id="goal1">
              <img class="card-img-top" src="../resources/images/icon-step-1.png" style="margin-left:auto;margin-right:auto;width:50%;">
              <br>
              <h2 >Login to your account</h2>
              <br>
              <p>To post or search for a listing, please create an account on our portal using your CU email and login to your account.</p>

            </div>

            <div class="card" style="width: 18rem; padding: 16px;" id="goal2">
                <img class="card-img-top" src="../resources/images/icon-step-2.png" style="margin-left:auto;margin-right:auto;width:50%;">
                <br>
                <h2 >Create a listing</h2>
                <br>
                <p>Create a listing for the lost or found item and submit all the details.</p>
            </div>

            <div class="card" style="width: 18rem; padding: 16px;" id="goal3">
                <img class="card-img-top" src="../resources/images/icon-step-3.png" style="margin-left:auto;margin-right:auto;width:50%;">
                <br>
                <h2 >Let us do the work!</h2>
                <br>
                <p>Your listing will go live and be viewable to thousands of your fellow Buff peers. Once a listing 
                  is found matching the details of your lost item listing, we'll notify you!
                </p>
            </div>
            
        </div>
        <br>
      </div>


        <br>
        <br>
        <div class="footer">
          <a style="color:white;" href="https://www.colorado.edu/">University of Colorado Boulder</a>
        </div>
        <!--End footer section-->

      </body>
    </html>