.body_content{
    padding-top:2em;
    margin-left:20%;
    margin-right:20%;
  }
  .container-fluid{
      width:80%;
      margin-left:0;
      margin-right:0;
      background-color:#e9ecef;
      padding-top:2em;
      padding-bottom:2em;
  }
  .active{
    /* padding:15px; */
    /* width:475px; */
    border-right:1px solid rgba(0,0,0,.1);
  }
  .past{
    /* padding:15px; */
    /* width:475; */
  }
    h6 {
        display:inline;
    }
    html {
      scroll-behavior: smooth;
    }