.navbar.navbar-expand-lg.navbar-dark.bg-black
{
  background-color: black;
  color: white;
  height: 65px;
}


.top-description 
{
padding: 50px;
text-align: center;
background-color: #a58d4f;
color: whitesmoke;
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 13px;
    height: 65px;
    font-size: 25px;
    background-color: black;
    text-align: center;
    color: white !important;
  }