<!DOCTYPE html>
    <html>
      <head>
        <title>Home</title>
        <link rel="stylesheet" href="../resources/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      </head>
      <body>
      <!--This is the section for the navbar. Make sure to include on all html pages.
        <style>
          .navbar.navbar-expand-lg.navbar-dark.bg-black
          {
            background-color: black;
            color: white;
            height: 65px;
          }

        </style>
        -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-black">
          <a class="navbar-brand" href="index.html">
            <img class="rounded-circle" src="../resources/images/favicon.ico" alt="" width="30" height="30">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="Lost_and_Found.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Lost & Found
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="Lost_and_Found.html">Search for Item</a>
                  <a class="dropdown-item" href="Lost_and_Found.html">Post Found Item</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="Lost_and_Found.html">Lost & Found Page</a>
                </div>
              </li>
            </ul>
          <div class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Login</button>
          </div>
          </div>
        </nav>
        <!--End Navbar section-->

        <!-- Header of page 
        <style>
          .top-description 
          {
          padding: 50px;
          text-align: center;
          background-color: #a58d4f;
          color: whitesmoke;
          }

        </style>
        -->
        <div class = "top-description">
          <h1> CU Lost & Found </h1>
        </div>
        <br>
        <!-- End Header -->

        <div class="jumbotron">
          <h1 class="display-4">Welcome to CU Lost & Found</h1>
          <p class="lead">Search for or post lost items</p>
        </div>
        <br>

        <div class="container p-3 my-3 border">
          <div class="card-deck">
            <div class="card" style="width: 18rem;" id="goal1">
              <img class="card-img-top" src="https://via.placeholder.com/500">
              <h2>Search for lost items</h2>
              <br>
              <p>Search through posts for lost items</p>
            </div>
  
            <div class="card" style="width: 18rem;" id="goal2">
                <img class="card-img-top" src="https://via.placeholder.com/500">
                <h2>Post found items</h2>
                <br>
                <p>Post a description and picture of an item you found</p>
            </div>
  
            <div class="card" style="width: 18rem;" id="goal3">
                <img class="card-img-top" src="https://via.placeholder.com/500">
                <h2>About Us</h2>
                <br>
                <p>Learn about the team that developed this application</p>
            </div>
          </div>
        </div>

        <!--This is the section for the footer. Make sure to include on all html pages.
          <style>
            .footer{
              left: 0;
              bottom: 0;
              width: 100%;
              padding: 13px;
              height: 65px;
              font-size: 25px;
              background-color: black;
              text-align: center;
              color: white !important;
            }
          </style>
          -->
          
          <div class="footer">
            <a style="color:white;" href="https://www.colorado.edu/">University of Colorado Boulder</a>
          </div>
        <!--End footer section-->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      </body>
    </html>